$warning: #f9f741;


// Import all of Bootstrap's CSS
@import "bootstrap";



.icon-1:hover {
    color: greenyellow;
}


.roboto-regular {
        font-family: "Roboto", serif;
        font-weight: 400;
        font-style: normal;
      }
      body{
        font-family: "Roboto", serif;
      }
